@import "../../node_modules/bootstrap/scss/bootstrap";

.bb-search {
  width: 10rem !important;
}

.card {
  border: 0 !important;
}

.bb-album-stub,
.bb-artist-stub {
  :hover {
    //TODO: No magic colors
    background-color: mediumpurple;
    cursor: pointer;
  }
}

.bb-search-image {
  width: 10rem;
  object-fit: cover;
}

.bb-track-image {
  width: 3.5rem;
  object-fit: cover;
}

.bb-selected-song .card{
  //TODO: No magic colors
  border: 5px mediumpurple solid !important;
}

img {
  border-radius: 7.5% !important;
}