@import "../../node_modules/bootstrap/scss/bootstrap";

.bb-search-result {
  :hover {
    //TODO: No magic colors
    background-color: mediumpurple;
    cursor: pointer;
  }
}

.bb-search-image {
  width: 10rem;
  object-fit: cover;
}