@import "colors";
@import "../../node_modules/bootstrap/scss/bootstrap";

body {
  background-color: $bb-light;
}

a {
  color: black;
  text-decoration: none;

  &:hover, &:active {
    color: $bb-main;
  }
}

.bb-search {
  width: 10rem !important;
}

.card {
  border: 0 !important;
  background-color: transparent ;
}

.bb-album-stub,
.bb-artist-stub {
  :hover {
    background-color: $bb-secondary;
    cursor: pointer;
  }
}

.bb-search-image {
  width: 10rem;
  object-fit: cover;
}

.bb-track-image {
  width: 3.5rem;
  object-fit: cover;
}

.bb-selected-song .card{
  border: 5px $bb-secondary solid !important;
}

img {
  border-radius: 7.5% !important;
}